﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="css/my.css" rel="stylesheet" />
</head>
<body>
    <div class="app">
        <div class="top-bar">
            <div class="contact">
                <span class="phone-number">0123.456.7889(HN)</span>
                <span class="phone-number">0123.496.7889(HCM)</span>
                <span class="ads">Liên hệ quảng cáo</span>
                <button class="btn">Like</button>
                <button class="btn">Follow</button>
                <button class="btn">Youtube</button>

            </div>
            <div class="auth">
                <span class="auth-btn">Đăng nhập</span>
                <span class="auth-btn">Đăng kí</span>
                <input type="text" name="name" value="" class="search-bar" />
            </div>
        </div>
        <div class="main-bar">
            <div class="logo-img">
                <img src=".~/images/Logo_Vnexpress.png" alt="Alternate Text" />
            </div>
            <div class="ads-img">
                <img src=".~/images/banner-ads-1.png" alt="Alternate Text" />
            </div>
            <div class="ads-img">
                <img src=".~/images/banner-ads-2.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
</body>
</html>

